<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAl7adTi0doYQ6PKfh6hetHzH4-wnP7RDk</string>
	<key>GCM_SENDER_ID</key>
	<string>693417953144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.playwithme.playWithMe.stg</string>
	<key>PROJECT_ID</key>
	<string>playwithme-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>playwithme-stg.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693417953144:ios:01757d264ed69554042a8d</string>
</dict>
</plist>